* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root {
    --primaryColor: #9f8256;
    --secondColor: #7f7f7f;
    --thirdColor: lightgrey;
    --footerColor: #403d38;
}
body {
    overflow-x: hidden;
}
/* Start header  */
header {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 562px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
nav #logo {
    width: 150px;
    height: 41px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 35px;
}
nav ul {
    display: flex;
    justify-content: space-around;
    width: 96%;
}
nav ul li a {
    color: white;
    text-transform: capitalize;
    padding: 10px;
    margin-left: 15px;
}
@media (max-width: 992px){
    .navbar .navbar-nav {
        background-color: #212529;
        width: 100%;
    }
    .navbar .navbar-nav .nav-item .nav-link  {
        padding: 10px 15px;
    }
    .navbar-toggler:focus {
       border: 0;
       color: #fff;
    }
}
nav ul li a:hover {
    background-color: var(--primaryColor);
}
.layer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
}
.caption {
    color: white;
    line-height: 1.6;
}
.caption p {
    color: var(--thirdColor);
}
.caption h1 {
    text-transform: capitalize;
    font-size: 45px;
    font-weight: normal;
}
header .layer .btn {
    color: white;
    border-radius: 5px;
    padding: 12px 15px;
    text-transform: capitalize;
    margin-top: 10px;
    transition: all .5s;
}
header .layer .btn1 {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}
header .layer .btn1:hover {
    background-color: transparent;
    border-color: white;
}
header .layer .btn2 {
    background-color: transparent;
    border-color: white;
}
header .layer .btn2:hover {
    background-color: var(--primaryColor);
}
/* start about section  */
#about {
    margin-top: 25px;
}
.about {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}
@media  (max-width: 768px){
    .about {
        flex-direction: column;
    }
    .caption-about {
        padding-top: 20px;
    }
    /* .about .col-sm-8 {
        margin: auto;
    } */
}
.caption-about p:first-child {
    font-size: 25px;
    margin-bottom: 20px;
}
.caption-about p:nth-child(2) {
    color: var(--secondColor);
    margin-bottom: 30px;
}
.caption-about .list i  {
    color: var(--primaryColor);
    border-radius: 50%;
    padding: 5px 7px;
    border: 1px solid var(--secondColor);
    margin-bottom: 15px;
    font-weight: bold;
}
.location {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f1f1;
}
@media  (max-width: 768px){
    .location {
        flex-direction: column;
        background-color: transparent;
    }
    .location-about {
        padding-top: 20px;
    }
}
.location-about p:first-child {
    font-size: 25px;
    margin-bottom: 20px;
}
.location-about p:nth-child(2) {
    color: var(--secondColor);
}
/* Start product  */
#baking .title {
    text-align: center;
    margin-bottom: 35px;
    color: var(--secondColor);
}
#baking .title h2 {
    text-transform: capitalize;
    margin-bottom: 15px;
}
.products {
    /* display: flex; */
    justify-content: space-around;
    /* margin: 5px auto; */
}
.product {
text-align: center;
/* width: calc(100%/3); */
color: var(--secondColor);
}
.product img {
    /* width: 350px; */
    /* height: 300px; */
    margin-bottom: 15px;
}
.product p {
    padding: 0 30px;
}
.product h3 {
    text-transform: capitalize;
    margin-bottom: 15px;
}
/* Start footer  */
footer {
    width: 100vw;
}
.footer1 {
    background-color: var(--footerColor);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.footer-head {
    /* width: 25%; */
    margin: 20px;
}
.footer-head .t1 {
    margin-bottom: 15px;
    color: white;
}
@media  (max-width: 992px){
    .footer-head .t1, .footer-head .t3 {
        font-size: 22px;
    }
}
.footer-head .t2 {
    color: var(--secondColor);
}
.footer-head ul li {
    color: var(--secondColor);
    padding: 10px 0;
    border-bottom: 1px solid rgb(89 89 89);
    cursor: pointer;
}
.fa-angle-right {
    padding-right: 10px;
    font-size: 12px;
}
.footer-head .t3 {
    color: white;
    padding-bottom: 10px;
}
.footer-head .list li {
    padding: 13px 0;
    cursor: pointer;
}
.footer-head ul li:last-child {
    border: none;
}
.footer-head .list i {
    padding-right: 10px;
    font-size: 15px;
}
.footer2 {
    background-color: #353330;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: var(--secondColor);
}
.footer2 .logo {
    width: 229px;
    height: 63px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer2 p {
    font-size: 12px;
}
.footer2 ul {
    display: flex;
    /* width: 150px; */
    justify-content: space-between;
    padding: 0;
}
.footer2 ul li {
    background-color: #484540;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    text-align: center;
    cursor: pointer;
}